.filter-section {
	.top {
		margin-bottom: 35px;
		@include flexbox();
		@include justify-content(space-between);
	}
	
	.type-list {
		margin-top: 15px;

		li {
			margin: 0 18px 7px 0;
			display: inline-block;
		}

		a { 
			padding: 4px 0 0 20px;
			position: relative;
			color: map-get($colors , primary);
			font-size: 16px;

			&::before {
				content: '';
				width: 13px;
				height: 13px;
				border: 2px solid map-get($colors , primary);
				border-radius: 3px;
				display: block;
				position: absolute;
				left: 0;
			}

			&::after {
				content: '';
				width: 10px;
				height: 4px;
				border: 2px solid map-get($colors , grey-darker);
				border-top: none;
				border-right: none;
				display: block;
				position: absolute;
				left: 3px;
				top: 9px;
				@include transform(rotate(-45deg));
			}

			&.active {
				&::before { background-color: map-get($colors , primary); }
				&::after { border-color: map-get($colors , secondary); }
			}
		}
	}

	.right {
		min-width: 190px;
		width: 35%;

		form { margin-top: 10px; }

		input {
			width: 100%;
			padding: 5px 0;
			border: none;
    	border-bottom: 2px solid map-get($colors , primary);
			font-size: 16px;
			outline: none;
		}
	}

	%list {
		padding: 27px 15px;
		@include flexbox();
		@include justify-content(space-between);

		li {
			width: calc(100% / 7);
			padding-right: 10px;
			color: map-get($colors , primary);
			font-size: 17px;
			word-break: break-word;
		}
	}

	.filter {
		margin-bottom: 45px;

		.header {
			@extend %list;
			
			background-color: map-get($colors , grey-dark);

			li {
				font-weight: bold;
			}
		}
	}

	.results {
		&>li {
			display: none;
			background-color: map-get($colors , grey);

			&:nth-of-type(2n) {
				background-color: map-get($colors , secondary);
			}
		}
	}

	.result {
		&.show { display: block; }

		ul {
			@extend %list;
		}
	}

	.loader {
		width: 45px;
    display: block;
    margin: 10px auto;
	}

	.bottom {
		@include flexbox();
		@include justify-content(space-between);

		.results-text {
			color: map-get($colors , primary);
			font-size: 16px;

			span { font-weight: bold; }
		}		

		%arrow {
			text-indent: -999999px;
    	position: relative;

			&::before {
				content: '\f060';
				font-family: FontAwesome;
				text-indent: 0;
				position: absolute;
				color: map-get($colors , primary);
				font-size: 27px;
			}

			&.disable {
				z-index: -9999;
			}
		}

		.previous {
			@extend %arrow;

			&::before {
				content: '\f060';
				left: 0;
			}
		}

		.next {
			@extend %arrow;

			&::before {
				content: '\f061';
				right: 0;
			}
		}
	}
}
