.filter-section {
	.top {
		margin-bottom: 35px;
		@include flexbox();
		@include justify-content(space-between);
	}
	
	.type-list {
		margin-top: 15px;

		li {
			margin: 0 18px 7px 0;
			display: inline-block;
		}

		a { 
			padding: 4px 0 0 20px;
			position: relative;
			color: map-get($colors , primary);
			font-size: 16px;

			&::before {
				content: '';
				width: 13px;
				height: 13px;
				border: 2px solid map-get($colors , primary);
				border-radius: 3px;
				display: block;
				position: absolute;
				left: 0;
			}

			&::after {
				content: '';
				width: 10px;
				height: 4px;
				border: 2px solid map-get($colors , grey-darker);
				border-top: none;
				border-right: none;
				display: block;
				position: absolute;
				left: 3px;
				top: 9px;
				@include transform(rotate(-45deg));
			}

			&.active {
				&::before { background-color: map-get($colors , primary); }
				&::after { border-color: map-get($colors , secondary); }
			}
		}
	}

	.right {
		min-width: 190px;
		width: 35%;

		form { margin-top: 10px; }

		input {
			width: 100%;
			padding: 5px 0;
			border: none;
    	border-bottom: 2px solid map-get($colors , primary);
			font-size: 16px;
			outline: none;
		}
	}

	.filter {
		margin-bottom: 45px;

		.header {
			padding: 27px 15px;
			@include flexbox();
			@include justify-content(space-between);
			background-color: map-get($colors , grey-dark);

			li {
				width: calc(100% / 7);
				color: map-get($colors , primary);
				font-size: 17px;
				font-weight: bold;
			}
		}
	}

	.bottom {
		@include flexbox();
		@include justify-content(space-between);

		.results-text {
			color: map-get($colors , primary);
			font-size: 16px;

			span { font-weight: bold; }
		}		

		%arrow {
			text-indent: -999999px;
    	position: relative;

			&::before {
				content: '\f060';
				font-family: FontAwesome;
				text-indent: 0;
				position: absolute;
				color: map-get($colors , primary);
				font-size: 27px;
			}
		}

		.previous {
			@extend %arrow;

			&::before {
				content: '\f060';
				left: 0;
			}
		}

		.next {
			@extend %arrow;

			&::before {
				content: '\f061';
				right: 0;
			}
		}
	}
}
