.filter-section {
	.top {
		margin-bottom: 35px;
		@include flexbox();
		@include justify-content(space-between);

		@include responsive(map-get($breakpoints, ipad)) { display: block; }
	}
	
	.type {
		margin-top: 15px;

		li {
			margin: 0 18px 7px 0;
			display: inline-block;

			@include responsive(map-get($breakpoints, ipad)) { margin-right: 12px; }
		}

		a { 
			padding: 4px 0 0 20px;
			position: relative;
			color: map-get($colors , primary);
			font-size: 16px;

			@include responsive(map-get($breakpoints, ipad)) { font-size: 14px; }

			&::before {
				content: '';
				width: 13px;
				height: 13px;
				border: 2px solid map-get($colors , primary);
				border-radius: 3px;
				display: block;
				position: absolute;
				left: 0;
			}

			&::after {
				content: '';
				width: 10px;
				height: 4px;
				border: 2px solid map-get($colors , grey-darker);
				border-top: none;
				border-right: none;
				display: block;
				position: absolute;
				left: 3px;
				top: 9px;
				@include transform(rotate(-45deg));
			}

			&.active {
				&::before { background-color: map-get($colors , primary); }
				&::after { border-color: map-get($colors , secondary); }
			}
		}
	}

	.right {
		min-width: 190px;
		width: 35%;

		@include responsive(map-get($breakpoints, ipad)) {
			width: 100%;
			margin-top: 20px;
		}

		form { margin-top: 10px; }

		input {
			width: 100%;
			padding: 5px 0;
			border: none;
    	border-bottom: 2px solid map-get($colors , primary);
			font-size: 16px;
			outline: none;

			@include responsive(map-get($breakpoints, ipad)) {
				min-width: 200px;
				width: 40%;
				font-size: 14px;
			}

			@include responsive(map-get($breakpoints, iphone-potrait)) { width: 100%; }

			@include placeholder() { color: map-get($colors , grey-darker);	}
		}
	}

	%list {
		padding: 27px 15px;
		@include flexbox();
		@include justify-content(space-between);

		@include responsive(map-get($breakpoints, ipad)) { padding: 16px 10px; }

		li {
			width: calc(100% / 7);
			padding-right: 10px;
			color: map-get($colors , primary);
			font-size: 17px;
			word-break: break-word;

			@include responsive(map-get($breakpoints, ipad)) { font-size: 14px; }
		}
	}

	.filter {
		overflow-x: auto;

		.wrap {
			@include responsive(map-get($breakpoints, iphone)) { width: 170%; }
			@include responsive(map-get($breakpoints, iphone-potrait)) { width: 210%; }
		}

		.header {
			@extend %list;
			background-color: map-get($colors , grey-dark);

			li { font-weight: bold; }
		}
	}

	.results {
		&>li {
			display: none;
			background-color: map-get($colors , grey);

			&:nth-of-type(2n) { background-color: map-get($colors , secondary); }
		}
	}

	.result {
		&.show { display: block; }
		ul { @extend %list;	}
	}

	.message {
    margin: 20px 0;
    display: none;
    font-size: 16px;
		font-weight: bold;
		text-align: center;

		&.show { display: block; }
	}

	.loader {
		width: 45px;
    display: block;
    margin: 10px auto;

		&.hide { display: none; }
	}

	.bottom {
		margin-top: 45px;
		@include flexbox();
		@include justify-content(space-between);

		.results-text {
			color: map-get($colors , primary);
			font-size: 16px;

			@include responsive(map-get($breakpoints, ipad)) { font-size: 14px; }

			span { font-weight: bold; }
		}		

		%arrow {
			text-indent: -999999px;
    	position: relative;

			&::before {
				content: '\f060';
				font-family: FontAwesome;
				text-indent: 0;
				position: absolute;
				color: map-get($colors , primary);
				font-size: 27px;
				@include transition(0.2s ease);

				@include responsive(map-get($breakpoints, ipad)) { font-size: 24px; }
			}

			&:hover { 
				@include responsive-reverse(map-get($breakpoints, ipad-size)){
					&::before {
						color: map-get($colors , grey-darkest); 
					}
				}
			}

			&.disable { z-index: -9999; }
		}

		.previous {
			@extend %arrow;

			&::before {
				content: '\f060';
				left: 0;
			}
		}

		.next {
			@extend %arrow;

			&::before {
				content: '\f061';
				right: 0;
			}
		}
	}
}
