html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Colors
=========================*/
/* Breakpoints
=========================*/
img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f4f4f4; }
  @media only screen and (max-width: 480px) {
    body {
      background-color: #fff; } }
  body * {
    font-family: sans-serif; }

.container {
  max-width: 1100px;
  width: 90%;
  padding: 45px 0;
  margin: 20px auto;
  background-color: #fff; }
  @media only screen and (max-width: 995px) {
    .container {
      width: 97%; } }
  @media only screen and (max-width: 480px) {
    .container {
      width: 100%;
      margin: 0 auto;
      padding-bottom: 80px; } }

.wrapper {
  width: 93%;
  margin: 0 auto; }
  @media only screen and (max-width: 480px) {
    .wrapper {
      width: 90%; } }

a {
  text-decoration: none; }

h1 {
  font-size: 52px;
  font-weight: bold; }
  @media only screen and (max-width: 995px) {
    h1 {
      font-size: 40px; } }
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 32px; } }

h2 {
  font-size: 23px;
  font-weight: bold; }
  @media only screen and (max-width: 995px) {
    h2 {
      font-size: 20px; } }

::-webkit-scrollbar {
  width: 10px;
  background: #e0e0e0; }

::-webkit-scrollbar-track {
  border-radius: 15px; }

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #d3d3d3;
  -webkit-box-shadow: inset 0 0 6px #000;
  box-shadow: inset 0 0 6px #000; }

header {
  margin-bottom: 47px; }
  header .wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  header h1 a {
    color: #000; }
  header h1 span {
    color: #e0e0e0; }

.filter-section .top {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  @media only screen and (max-width: 995px) {
    .filter-section .top {
      display: block; } }
.filter-section .type {
  margin-top: 15px; }
  .filter-section .type li {
    margin: 0 18px 7px 0;
    display: inline-block; }
    @media only screen and (max-width: 995px) {
      .filter-section .type li {
        margin-right: 12px; } }
  .filter-section .type a {
    padding: 4px 0 0 20px;
    position: relative;
    color: #000;
    font-size: 16px; }
    @media only screen and (max-width: 995px) {
      .filter-section .type a {
        font-size: 14px; } }
    .filter-section .type a::before {
      content: '';
      width: 13px;
      height: 13px;
      border: 2px solid #000;
      border-radius: 3px;
      display: block;
      position: absolute;
      left: 0; }
    .filter-section .type a::after {
      content: '';
      width: 10px;
      height: 4px;
      border: 2px solid #d3d3d3;
      border-top: none;
      border-right: none;
      display: block;
      position: absolute;
      left: 3px;
      top: 9px;
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .filter-section .type a.active::before {
      background-color: #000; }
    .filter-section .type a.active::after {
      border-color: #fff; }
.filter-section .right {
  min-width: 190px;
  width: 35%; }
  @media only screen and (max-width: 995px) {
    .filter-section .right {
      width: 100%;
      margin-top: 20px; } }
  .filter-section .right form {
    margin-top: 10px; }
  .filter-section .right input {
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 16px;
    outline: none; }
    @media only screen and (max-width: 995px) {
      .filter-section .right input {
        min-width: 200px;
        width: 40%;
        font-size: 14px; } }
    @media only screen and (max-width: 480px) {
      .filter-section .right input {
        width: 100%; } }
    .filter-section .right input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #d3d3d3; }
    .filter-section .right input::-moz-placeholder {
      /* Firefox 19+ */
      color: #d3d3d3; }
    .filter-section .right input:-ms-input-placeholder {
      /* IE 10+ */
      color: #d3d3d3; }
    .filter-section .right input:-moz-placeholder {
      /* Firefox 18- */
      color: #d3d3d3; }
.filter-section .filter .header, .filter-section .result ul {
  padding: 27px 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  @media only screen and (max-width: 995px) {
    .filter-section .filter .header, .filter-section .result ul {
      padding: 16px 10px; } }
  .filter-section .filter .header li, .filter-section .result ul li {
    width: calc(100% / 7);
    padding-right: 10px;
    color: #000;
    font-size: 17px;
    word-break: break-word; }
    @media only screen and (max-width: 995px) {
      .filter-section .filter .header li, .filter-section .result ul li {
        font-size: 14px; } }
.filter-section .filter {
  overflow-x: auto; }
  @media only screen and (max-width: 767px) {
    .filter-section .filter .wrap {
      width: 170%; } }
  @media only screen and (max-width: 480px) {
    .filter-section .filter .wrap {
      width: 210%; } }
  .filter-section .filter .header {
    background-color: #e7e7e7; }
    .filter-section .filter .header li {
      font-weight: bold; }
.filter-section .results > li {
  display: none;
  background-color: #f4f4f4; }
  .filter-section .results > li:nth-of-type(2n) {
    background-color: #fff; }
.filter-section .result.show {
  display: block; }
.filter-section .message {
  margin: 20px 0;
  display: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center; }
  .filter-section .message.show {
    display: block; }
.filter-section .loader {
  width: 45px;
  display: block;
  margin: 10px auto; }
  .filter-section .loader.hide {
    display: none; }
.filter-section .bottom {
  margin-top: 45px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .filter-section .bottom .results-text {
    color: #000;
    font-size: 16px; }
    @media only screen and (max-width: 995px) {
      .filter-section .bottom .results-text {
        font-size: 14px; } }
    .filter-section .bottom .results-text span {
      font-weight: bold; }
  .filter-section .bottom .previous, .filter-section .bottom .next {
    text-indent: -999999px;
    position: relative; }
    .filter-section .bottom .previous::before, .filter-section .bottom .next::before {
      content: '\f060';
      font-family: FontAwesome;
      text-indent: 0;
      position: absolute;
      color: #000;
      font-size: 27px;
      -webkit-transition: 0.2s ease;
      transition: 0.2s ease; }
      @media only screen and (max-width: 995px) {
        .filter-section .bottom .previous::before, .filter-section .bottom .next::before {
          font-size: 24px; } }
    @media only screen and (min-width: 996px) {
      .filter-section .bottom .previous:hover::before, .filter-section .bottom .next:hover::before {
        color: #444; } }
    .filter-section .bottom .disable.previous, .filter-section .bottom .disable.next {
      z-index: -9999; }
  .filter-section .bottom .previous::before {
    content: '\f060';
    left: 0; }
  .filter-section .bottom .next::before {
    content: '\f061';
    right: 0; }

/*# sourceMappingURL=style.css.map */
