/* Colors
=========================*/
$colors: (
  primary: #000,
  secondary: #fff,
  grey: #f4f4f4,
  grey-medium: #e0e0e0,
  grey-dark: #e7e7e7,
  grey-darker: #d3d3d3,
  grey-darkest: #444,
);

/* Breakpoints
=========================*/
$breakpoints: (
  ipad-size: 996px,
  ipad: 995px,
  iphone: 767px,
  iphone-potrait: 480px,
);